@model List<Product>

@{
    ViewData["Title"] = "Liste des vins";
}

<link rel="stylesheet" href="~/css/home.css" />

<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">WineNot</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
Menu
            <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#wines">Wines</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#signup">Contact</a></li>
                </ul>
           </div>
     </div>
</nav>

<h1>Liste des vins</h1>

<p>
    <a asp-action="Create">Ajouter un vin</a>
</p>

<table class="table">
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WineFamily)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.House)
            </td>
            <td>
                <button onclick="setProductToCart(@item.Id)">Add to cart</button>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>

<script>
    function setProductToCart(product_id) {
        var str_product_id = '' + product_id
        if (!localStorage.getItem(str_product_id)) {
            localStorage.setItem(str_product_id, 1)
        } else {
            var str_quantity = localStorage.getItem(str_product_id);
            var final_quantity = parseInt(str_quantity, 10) + 1
            var str_final_quantity = '' + final_quantity
            localStorage.setItem(product_id, str_final_quantity)
            console.log(localStorage)
        }
    }
</script>
